table, td, th {
	border: 1px solid gray;
}

table {
	border-collapse: collapse;
}

th {
	background-color: darkgreen;
	color: white;
}

td.key {
	min-width: 40px;
	max-width: 40px;
	width: 40px;
}

td.narrow {
	min-width: 80px;
	max-width: 80px;
	width: 80px;
}

td.wide {
	min-width: 140px;
	max-width: 140px;
	width: 140px;
}

td.narrow input {
	min-width: 75px;
	max-width: 75px;
	width: 75px;
}

td.wide input {
	min-width: 135px;
	max-width: 135px;
	width: 135px;
}


tr {
	height: 50px;
}

	tr:nth-child(2n+1) {
		background-color: #e3ffe3;
	}

	tr:hover {
		background-color: #b0deb0;
	}
